.reveal pre {
  font-size: 28px !important;
  line-height: 29.5px !important;
  font-family: 'Ubuntu Mono', 'Fira Code', monospace !important;
}
code {
  font-family: 'Ubuntu Mono', 'Fira Code', monospace !important;
  size: 80% !important;
}
div.prompt,
div.prompt_container,
div.out_prompt_overlay,
div.output_prompt {
  display: none !important;
  min-width: none !important;
  color: lightgrey !important;
  /*font-size: 12px !important;*/
}

.output {
  background-color: #eee !important;
  /*border: 1px solid #cfcfcf !important;*/
  border-radius: 7px;
  animation: fadeIn 1s !important;
}

div.input_area {
  border-radius: 7px !important;
  border: none !important;
}
